@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


*{
    padding : 0;
    margin: 0;
    background: black;
    font-family: 'poppins',sans-serif;
}
.desc{
    color: rgb(255, 4, 0);
    margin: 1rem 20%;
}
.header{
    display: flex;
    block-size: 20rem;
    
}
.header .img img{
    border-radius: 50%;
    margin-left: 6rem;
    size: auto;
    
}
.header .info h1{
    color: white;
    font-size: 7rem;
    text-align: center;
    width: 100%;
    block-size: auto;
    text-decoration: underline;
}
.header .info p{
    color : gainsboro;
    font-size: 1rem;
    text-align: center;
    padding : 1rem 5%;
    display: block;

}
.table{
    align-items: center;
    height: 90%;
    padding: 4rem;
}
.table table{
    color: yellow;
    width: 100%;
    border: 2px solid yellow;
    border-collapse: collapse;
    border-spacing: 0px 0px;
    margin: 4px;
    
}
.table table tr{
    border: 2px solid rgb(255, 255, 1);
}
.table table tr td{
    text-align: left;
    color: rgb(255, 255, 102);
    padding: 0 8.5%;
}
.table table tr th{
    border: 2px solid yellow;
    padding-bottom: 8px;
    text-align: left;
    padding: 0 8.5%;
    font-size: 26px;
    text-decoration: underline;
}
.table table tr td a{
    color: rgb(255, 255, 102);
}
.table table tr td a:hover{
    color: rgb(0, 255, 0);
}
footer{
    text-align: center;
    align-items: last baseline;
    color: rgb(242, 242, 242);
}
@media only screen and (max-width: 1170px) and (min-width: 500px) {
    .header .img {
        width: 10rem;
        height: 8rem;
        text-align: left;
        
    }
    .header .img img {
        width: 5rem;
        margin-left: 3rem;
    }
    .info{
        height: 22rem;
        width: auto;
    }
    .header .info h1{
        height: 8rem;
        font-size: 4rem;
    }
    .header .info p{
        height: 9rem;
    }
    .table{
        padding: none;
    }
    .table table{
        margin: 0;
    }
    .table table tr th{
        font-size: 17px;
        padding: 0 5px;
        text-align: center;
        padding: 0 0.5rem;
    }
}